.slide {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.slide > img, video {
  width: auto;
  height: auto;
  max-width: 95vh;
  max-height: 95vh;
  display: block;
  object-fit: cover;
}

.slide .fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide .show {
  opacity: 1;
}

.slide .fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.slide .hide {
  opacity: 0;
}
